body {
    font-family: 'Averia Serif Libre', cursive;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Megrim', cursive;
}

nav {
    font-family: 'Megrim', cursive;
}

.zabs {
    /* transform: rotate(90deg); */
}

.drT {
    
    transform: rotate(90deg);
}



/* font-family: 'Averia Serif Libre', cursive;
font-family: 'Megrim', cursive; */